{% extends "lab_10/layout/base.html" %}
{% load staticfiles %}

{% block header %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class = "navbar-brand" href="{% url 'lab-10:index' %}"><img class="navbarhome" src="{% static 'assets/movieinfo_icons.png' %}">RFDb</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="{% url 'lab-10:dashboard' %}"><img class="navbardash" src="{% static 'assets/dashboard_icons.png' %}"></a></li>
              <li><a href="/lab-10/movie/list/"><img class="navbarlist" src="{% static 'assets/movielist_icons.png' %}"></a></li>
              <li><a href="/lab-10/movie/watch_later/"><img class="navbarlater" src="{% static 'assets/watchlater_icons.png' %}"></a></li>
           </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{author}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{author}}</strong></p>
                                        <p class="text-left small">{{kode_identitas}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Keluar?')">
                                                Logout </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}


{% block content %}

<div class="poster">
    <img src="{{movie.poster}}"/>
    <div class="rating">
    <center>
    <br>
    <p id="ratings"> {{ movie.ratings.0.Value.0}}{{ movie.ratings.0.Value.1}}{{ movie.ratings.0.Value.2}}{{ movie.ratings.0.Value.3}}{{ movie.ratings.0.Value.4}}{{ movie.ratings.0.Value.5}}
    <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/star-icon.png" style="width:20px;margin-top:-5px;">
     <b>{{movie.imdbvotes}}</b> </p></center>
  </div>
    <div class="box">
        {% if added %}
        <center><button class="btn btn-success"> Added to Watch Later </button></center>
        {% else %}
        <center><a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a></center>
        {% endif%}
    </div>
  </div>

<div class="movie-description">
  <div class="description">
      <div id="title">
    <h1>{{ movie.title}} ({{ movie.year}})</h1>
  </div>
  <div class="director">
  <p>Directed by {{movie.director}}</p>
  </div>
  <div class="sub-text">
      {{ movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released}}({{movie.country}})
  </div>
  <br>
    <p>{{movie.plot}}</p>
    <p>Writers : {{movie.writer|truncatewords:13}}</p>
    <p>Cast : {{movie.actors}}</p>
    </div>
  </div>
</div>

{% endblock %}
