.poster{
	display:inline-block;
}
.movie-description{
	background-color: white;
	padding: 10px;
	width:70%;
    float: left;
    display:inline-block;
}

.rating{
	text-align: center;
}

.director{
	color:grey;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.sub-text{
}

.cast-title{
}
.cast{
	background-color: white;
	padding-left: 20px;
}
#title{

}

.panel-footer.panel-custom {
    background-color: #e8f5e9;
}

.navbarhome{
	width: 27px;
	height: 27px;
}

.navbardash{
	width: 25px;
	height: 25px;
}

.navbarlist{
	width: 25px;
	height: 25px;
}

.navbarlater{
	width: 25px;
	height: 25px;
}
