{% extends "lab_4/layout/base.html" %}

{% block content %}
<style media="screen">
  h4{
    font-family: "October Crow";
    font-size: 36px;
  }
  .image{
    border-radius: 50%;
    width : 200px;
    height: 200px;
    margin-left: 40%;
  }
  body{
    color: rgb(250,250,250);
  }
  h1{
    font-family: "budmo jigglish";
    font-size: 100px;
    text-align: center;
  }
  h2{
    font-family: "Mentha Rapture";
    font-size: 50px;
  }
  h3{
    font-family: "Mentha Rapture";
    font-size: 25px;
  }
  li{
    font-family: "budmo jigglish"
    font-size: 25px;
  }
</style>
<img class = "image" src="http://cloud-3.steamusercontent.com/ugc/85970162646612621/F3F0038C30089B4A97AF8E59A14D6F4C88D9D1CE/">
<h1>Portofolio</h1>
<hr/>
<section name="bio" style="background-color:black;">
    <h2>Bio</h2>
    <h4>
        {{content}}
    </h4>
</section>
<hr/>
<section name="about_me" style="background-color:black;">
    <h2>List</h2>
    <h3>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </h3>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</section>

{% endblock %}
