{% extends "base.html" %}
{% block content %}


<style>
    body{
      background-image: url(http://cdn.wallpapersafari.com/76/1/JDFWGQ.jpg);
    }
    .center_screen {
        position: absolute;
        width: 750px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -375px; /* margin is -0.5 * dimension */
        margin-top: -50px;
        color: white;
        font-family: "HACKED";
        font-size: 30px;
        text-align: justify;

    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}
